body {
    font-family: Arial, sans-serif;
    background: #d9e3c3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(86, 110, 171);
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.482);
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

button:disabled {
    background: #ff0000;
    cursor: not-allowed;
}

ul {
    list-style: none;
    padding: 0;
}


li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 8px;
    background: #eef1f4;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: rgb(128, 128, 128);
}


.task-buttons button {
    margin-left: 5px;
}

.addTaskButton {
    background : "Green";
}
